@media screen and (min-width: 601px) {
    
*{
    background-color: gainsboro;
}
#parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-areas:"header header header"
                        "nav main ads"
                        "nav main featured"
                        "footer footer footer ";
    
}
}


@media screen and (max-width: 600px) and (min-width: 401px) {
    
    *{
        background-color: rgb(231, 189, 189);
    }
    #parent{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-areas:"header header"
                            "nav    main "
                            "ads    main"
                            "featured main"
                            "footer footer";
        
    }
    }
    @media screen and (max-width: 400px) {
    
        *{
            background-color: rgb(223, 135, 201);
        }
        #parent{
            display: grid;
            grid-template-columns: 10fr 2fr ;
            /* grid-template-rows: 1fr 2fr 2fr 1fr; */
            grid-template-areas:"header nav"
                                " main main "
                                " ads ads"
                                "footer footer";
}            
#a5{
    display: none;
}

        }
#extra{
    grid-row: header-start/footer-end;
    grid-column:header-start/nav-end;
    display: none;
}

#a1{
    grid-area:header ;
}
#a2{
    grid-area: nav ;
}
#a3{
    grid-area:main ;
}
#a4{
    grid-area:ads ;
}

#a6{
    grid-area:footer ;
}




.aa1{
    background-color: antiquewhite;
}

.aa2{
    background-color: aqua;
}
.aa3{
    background-color: antiquewhite;
}
.aa4{
    background-color: aqua;
}

.aa5{
    background-color: rgb(224, 112, 206);
    grid-area: featured;
}

.aa6{
    background-color: aqua;
}

.aaextra{
    background-color: blueviolet;
}



